@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.list-item::before {
    content: '❀';
    margin-right: 0.5rem;
    color: #5E6E90;
}


body {
    background: url('/assests/img/bg_main.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-attachment: fixed; /* Pour Safari */
  }
  